<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-primary" style="border: 2px solid red;">
    <a class="navbar-brand" href="#">How'm I doing?</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/" style="border: 2px solid red;">List Tasks</a>
        <a class="nav-item nav-link active" href="/task/add" style="border: 2px solid red;">Add Task</a>
        </div>
    </div>
</nav>