<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/fontawesome-all.css">
   
  </head>
  <body onload="setDefaults();">
    <div class="container"> 
        <% include ./partials/navfbk %>
        <div class="card" style="width: 100%">
        <form method="post" action="/task/add/" style="padding: 20px">
            <div class="form-group">
                
                <label for="duedate" class="text-primary">Feedback dates (probably today)</label>
                <input type="date" class="form-control" id="duedate" name="dueDate" />
                
                <label for="fbkee" class="text-primary">Who do you want to give feedback to?</label>
                <select class="form-control" id="fbkee" name="fbkee">
                    <option value="Adriana,adriana.f.rosset">Adriana</option>
                    <option value="Akshay,akshay.sadana">Akshay</option>
                    <option value="Ashish,ashish.pathak">Ashish</option>
                    <option value="Brendan,brendan.townsend">Brendan</option>
                    <option value="Brian,brian.tait">Brian</option>
                    <option value="Chin-Hooi,chin-hooi.tang">Chin-Hooi</option>
                    <option value="Csaba,csaba.schonstein">Csaba</option>
                    <option value="Dayanna,dayanna.k.wilberger">Dayanna</option>
                    <option value="Elizabeth,elizabth.a.farrell">Elizabeth</option>
                    <option value="Fernando,fernando.b.quinteros">Fernando</option>
                    <option value="Hans,hans.p.samios">Hans</option>
                    <option value="Ija,shahirza.abdullah">Ija</option>
                    <option value="John,john.hudson">John</option>
                    <option value="Mark,mark.a.hinojosa">Mark</option>
                    <option value="Matt M,matt.mitchell">Matt M</option>
                    <option value="Melissa,melissa.mm.seow">Melissa</option>
                    <option value="Mike,ademayowa.adeuga">Mike</option>
                    <option value="Monique,monique.pt.thoo">Monique</option>
                    <option value="Pedro,pedro.i.geretto">Pedro</option>
                    <option value="Steven,steven.e.sanchez">Steve</option>
                    <option value="TJ,thomas.butryn">TJ</option>
                    <option value="Tom,tom.boulet">Tom</option>
                    <option value="Walter,walter.g.beren">Walter</option>
                    <option value="Coach team,coachteam">Coach team</option>
                </select>
            
                <label for="direction" class="text-primary">Direction</label>
                <!--data-toggle="tooltip" data-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>"-->
                <!--span><b>&#9432;</b></span-->

                <select class="form-control" id="direction" name="direction">
                    <option>increased</option>
                    <option>decreased</option>
                </select>
                
                <label for="type" class="text-primary">Outcome</label>
                <select class="form-control" id="outcome" name="outcome">
                    <option>safety</option>
                    <option>awesomeness</option>
                    <option>delivery</option>
                    <option>knowledge</option>
                </select>
                
                <label for="type" class="text-primary">Related to behavior</label>
                <select class="form-control" id="behavior" name="behavior">
                    <option>team work</option>
                    <option>empowerment</option>
                    <option>process maturity</option>
                    <option>inspect &amp; adapt</option>
                    <option>business engagement</option>
                </select>
                
                <label for="detail" class="text-primary">Details</label>
                <textarea class="form-control" id="detail" rows="3" name="detail"></textarea>
                
                <input id="isComplete" name="isComplete" type="hidden" value="false" />
            </div>
                <input type="submit" class="btn btn-primary" value="Add Task" />
        </form>
        </div>
    </div> <!-- container --> <script>
        function setDefaults() {
            var temp = new Date().toDateInputValue();
            alert("called will put date " + temp);
            document.getElementById('duedate').value = new Date().toDateInputValue();
        };
    </script>  
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    
  </body> 
   
</html>
