<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/fontawesome-all.css">
    </head>
    
    <body>
        <div class="container">
            <% include ./partials/navfbk %>
            <form method="post" action="/user/add/" style="padding: 20px">
                <div class="form-group">
                    
                    <label for="shortname" class="text-primary">User short name</label>
                    <input type="text" class="form-control" id="shortname" name="shortname" />
                    
                    <label for="emailname" class="text-primary">User email address</label>
                    <input type="text" class="form-control" id="emailname" name="emailname" />
                    
                    <label for="password" class="text-primary">User password</label>
                    <input type="text" class="form-control" id="password" name="password" />
                    
                    <input type="hidden" id="redirectUrl" name="redirectUrl" value="redirectUrl" />
                </div>
    
                <input type="submit" class="btn btn-primary" value="Add User" />
    
            </form>
        </div> <!-- container -->

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

    </body>
    
</html>
