<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/fontawesome-all.css">
      
    
      
  </head>
  <body>
    <div class="container">
      <% include ./partials/navfbk %>
    <br />
    <h3>Feedback you've received</h3>
      <%  let fbk = {}; %>

         <% if (myFbksIn.length == 0) { %>
         
         <h4> No feedback gifts to display. Maybe you should ask for some?</h4>

         <%} else {%>

          <% for(let i = 0; i < myFbksIn.length; i++) { 
              fbk = myFbksIn[i] %>
              <% include ./partials/showfbk %>
          <% } %> 
        <% } %>
        
    
    <h3>Feedback you've given</h3>
      <%  fbk = {}; %>

         <% if (myFbksOut.length == 0) { %>
         
         <h4> No feedback gifts to display. Anyone you want to acknowledge?</h4>

         <%} else {%>

          <% for(let i = 0; i < myFbksOut.length; i++) { 
              fbk = myFbksOut[i] %>
              <% include ./partials/showfbk %>
          <% } %> 
        <% } %>
      <p class="font-weight-light font-italic">Served by <%= hostname %></p>
    </div> <!-- container -->
      
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
      
      <script>
        $(document).ready(function () {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        });
    </script>
      
  </body>
    
    
</html>
