<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/fbker.css' />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/fontawesome-all.css">

    </head>
    
    <body>
        <div class="container">
    
            <% include ./partials/navfbk %>
            <br />
                <%  let score = {}; %>
                <% if (scoreboard.length == 0) { %>
                    <h5 style="color: #007bff;">No user data. That's weird!</h5>
                <%} else {%>
                    <table>
                        <tr>
                            <th style="text-align: left;" width="40%">User email</th>
                            <th style="text-align: right;" width="20%">User score</th>
                            <th style="text-align: right;" width="20%">User sent count</th>
                        </tr>
                    <% for(let i = 0; i < scoreboard.length; i++) { 
                            score = scoreboard[i] %>
                        <tr>
                            <td style="text-align: left;"><%=score._id.fbkoremail%></td>
                            <td style="text-align: right;"><%=score.score.toFixed(2)%></td>
                            <td style="text-align: right;"><%=score.totalOut%></td>
                        </tr>
                <% } %>
                    </table>
                <% } %>

        </div> <!-- container -->

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <script>
            $(document).ready( function () {
                //$('.section').children("span").hide();
                $('.section').click(function() {
                    jQuery(this).next("div").toggle();
                    jQuery(this).children("span").toggle();
                });
            });
        </script>

    </body>
</html>
