#userscoreboard {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: auto;

    color: #AAAAAA;
    font-family: 'courier new';
    font-weight: bold;
    font-size: 14px;
}

#counts {
    background-color: lightyellow;
    padding-left: 5px;
    border: 2px solid #AAAAAA;
}

#scores {
    background-color: lightgreen;
    padding-left: 5px;
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color: #AAAAAA;
}

#noRating {
    background-color: yellow;
    color: red;
    padding-left: 5px;
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color: #AAAAAA;
}

#scoreboard {
    overflow-x: auto;
    color: #AAAAAA;
    font-family: 'courier new';
    font-weight: bold;
    font-size: 16px;
}

#scoreboard > #email {
    color: blue;
    text-align: left;
    width: 30%;
}

#scoreboard > #score {
    color: blue;
    text-align: right;
    width: 35%;
}

#scoreboard > #totalOut {
    color: blue;
    text-align: right;
    width: 35%;
}